@inject IDataService _service
@{
    int column_id = Html.get_route_int("id");
    var column = _service.get_column_details(column_id);
    string parent = "";
    if (column.parent_id > 0)
    {
        var parent_column = _service.get_column_details(column.parent_id);
        if (parent_column != null)
        {
            parent = $"<a href='{parent_column.id.to_route_url(parent_column.route_value)}'>{parent_column.column_name}</a> &gt; ";
        }
    }

    int page = Html.get_query_int("page");
    int page_size = 15;
    var data_list = _service.get_article_page(column_id, page, page_size);

    ViewData["Title"] = $"{column.column_name}";
}
<div class="w1000 center clear mt1">
    <div class="pleft">
        <div class="place"> <strong>当前位置:</strong> <a href="/">首页</a> &gt; @Html.Raw(parent) <a href="@column.id.to_route_url(column.route_value)">@column.column_name</a></div>
        <!-- /place -->
        <div class="listbox">
            <ul class="e2">
                @foreach (var item in data_list)
                {
                    <li>
                        <a href='@item.id.to_html_url(item.article_snow_id,item.publish_time, item.column.html_path_rule, item.column.list_option)'
                       class='preview'><img src='@item.pic' /></a>
                        [<b><a href='@item.column.id.to_route_url(item.column.route_value)'>@item.column.column_name</a></b>] <a href="@item.id.to_html_url(item.article_snow_id, item.publish_time, item.column.html_path_rule, item.column.list_option)"
                                                                                                                             class="title">@item.title</a>
                        <span class="info">
                            <small>日期：</small>@item.publish_time.ToString("yyyy-MM-dd HH:mm:ss")
                            <small>点击：</small>@item.views
                        </span>
                        <p class="intro">@item.summary...</p>
                    </li>
                }
            </ul>
        </div>
        <!-- /listbox -->
        <div class="dede_pages">
            <ul class="pagelist">
                @Html.Pager(data_list, new PagerOptions
                {
                PageIndexParameterName = "page",
                TagName = "ul",
                CssClass = "pagination justify-content-center",
                CurrentPagerItemTemplate = "<li class=\"page-item active\"><a  class=\"page-link\" href=\"javascript:void(0);\">{0}</a></li>",
                DisabledPagerItemTemplate = "<li class=\"page-item disabled\"><a class=\"page-link\">{0}</a></li>",
                PagerItemTemplate = "<li class=\"page-item\">{0}</li>",
                PagerItemCssClass= "page-link",
                Id = "bootstrappager"
                })
            </ul>
        </div>
        <!-- /pages -->
    </div>
    <!-- /pleft -->
    <div class="pright">
        @{
            var child = _service.get_column_child_list(column_id);
        }
        @if (child.Count() > 0)
        {
            <div>
                <dl class="tbox">
                    <dt><strong>栏目列表</strong></dt>
                    <dd>
                        <ul class="d6">
                            @foreach (var item in child)
                            {
                                <li><a href='@item.id.to_route_url(item.route_value)'>@item.column_name</a></li>
                            }
                        </ul>
                    </dd>
                </dl>
            </div>
        }
        <div class="commend">
            <dl class="tbox light">
                <dt class='light'><strong>推荐内容</strong></dt>
                <dd class='light'>
                    <ul class="d4">
                        @foreach (var item in _service.get_article_list(column_id, take: 6, is_recommend: true))
                        {
                            <li>
                                <a href="@item.id.to_html_url(item.article_snow_id, item.publish_time, item.column.html_path_rule, item.column.list_option)"
                                    title="@item.title">@item.title.CutStr(20)</a>
                                <p>@item.summary ...</p>
                            </li>
                        }
                    </ul>
                </dd>
            </dl>
        </div>
        <!-- /commend -->
        <div class="hot mt1 light">
            <dl class="tbox">
                <dt class='light'><strong>热点内容</strong></dt>
                <dd class='light'>
                    <ul class="c1 ico2">
                        @foreach (var item in _service.get_article_list(column_id, take: 10, is_hot: true))
                        {
                            <li><a href="@item.id.to_html_url(item.article_snow_id, item.publish_time, item.column.html_path_rule, item.column.list_option)"
                                title="@item.title">@item.title.CutStr(18)</a></li>
                        }
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
    <!-- /pright -->
</div>
