@model PagedList<column_entity>
@{
    ViewData["Title"] = "搜索栏目";
}
@section Scripts{
}
<div class="layui-card">
    <div class="layui-card-header">
        @ViewData["Title"]
    </div>
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <form asp-action="search" method="get">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">关键字</label>
                    <div class="layui-input-inline">
                        <input type="text" name="keyword" placeholder="请输入" class="layui-input" value='@ViewData["keyword"]' />
                    </div>
                </div>

                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
            <a asp-action="create" class="layui-btn layui-btn-normal">添加栏目</a>
        </div>
        <table class="layui-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.column_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.column_name_abbr)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.route_value)
                    </th>
                    <th>
                        需审核
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.list_option)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.column_attribute)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.sort_rank)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.is_show_nav)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="10" style="text-align: center;">
                            <div class="layui-inline">--没有记录--</div>
                        </td>
                    </tr>
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.column_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.column_name_abbr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.route_value)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.is_need_review)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.list_option)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.column_attribute)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sort_rank)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.is_show_nav)
                        </td>
                        <td align="right">
                            <a asp-action="edit" asp-route-id="@item.id">修改</a> |
                            <a asp-action="delete" asp-route-id="@item.id" onclick="return confirm('确认删除吗？');">删除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div style="text-align: center;padding: 16px 0 12px 0;">
            <div class="layui-inline">
                @Html.Pager(Model, new PagerOptions
                {
                PageIndexParameterName = "page",
                TagName = "ul",
                CssClass = "pagination",
                CurrentPagerItemTemplate = "<li class=\"page-item active\"><a  class=\"page-link\" href=\"javascript:void(0);\">{0}</a></li>",
                DisabledPagerItemTemplate = "<li class=\"page-item disabled\"><a class=\"page-link\">{0}</a></li>",
                PagerItemTemplate = "<li class=\"page-item\">{0}</li>",
                PagerItemCssClass = "page-link",
                Id = "bootstrappager"
                })
            </div>
        </div>
    </div>
</div>