@model PagedList<site_config_entity>
@{
    ViewData["Title"] = "网站配置";
}
<div class="layui-card">
    <div class="layui-card-header">
        @ViewData["Title"]
    </div>
    <div class="layui-card-body">
        <table class="layui-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.site_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.site_url)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.site_color)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.icp)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="6" style="text-align: center;">
                            <div class="layui-inline">--没有记录--</div>
                        </td>
                    </tr>
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.site_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.site_url)
                        </td>
                        <td>
                            @if (item.site_color == "gray")
                            {
                                <span>黑白</span>
                            }
                            else
                            {
                                <span>彩色</span>
                            }
                        </td>
                        <td>
                            @Html.Raw(item.icp)
                        </td>
                        <td style="text-align: right;">
                            <a asp-action="edit" asp-route-id="@item.id">修改</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div style="text-align: center;padding: 16px 0 12px 0;">
            <div class="layui-inline">
                @Html.Pager(Model, new PagerOptions
                {
                PageIndexParameterName = "page",
                TagName = "ul",
                CssClass = "pagination",
                CurrentPagerItemTemplate = "<li class=\"page-item active\"><a  class=\"page-link\" href=\"javascript:void(0);\">{0}</a></li>",
                DisabledPagerItemTemplate = "<li class=\"page-item disabled\"><a class=\"page-link\">{0}</a></li>",
                PagerItemTemplate = "<li class=\"page-item\">{0}</li>",
                PagerItemCssClass = "page-link",
                Id = "bootstrappager"
                })
            </div>
        </div>
    </div>
</div>
