<a class="nav-link @ViewBag.menu_member_home" href="/member">个人信息</a>
<a class="nav-link @ViewBag.menu_password" href="/member/edit_password">修改密码</a>
<a class="nav-link @ViewBag.menu_qa" href="/member/question_answer">密保问题</a>
<a class="nav-link @ViewBag.menu_ask" href="/member/my_ask">我的提问</a>
@*<a class="nav-link @ViewBag.menu_comment" href="/member/ask_comment">我的评论</a>
<a class="nav-link @ViewBag.menu_up" href="/member/my_up">我赞过的</a>*@