@model PagedList<user_entity>
@{
    ViewData["Title"] = "用户管理";
}
<div class="layui-card">
    <div class="layui-card-header">
        @ViewData["Title"]
    </div>
    <div class="layui-card-body">
        <a asp-action="create" class="layui-btn layui-btn-normal">添加用户</a>
        <table class="layui-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.user_role.role_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.real_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.mobile)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.card_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.is_lock)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.is_leader_mailbox)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.sort_rank)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.create_time)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="9" class="text-center">--没有记录--</td>
                    </tr>
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.user_role.role_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.real_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.mobile)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.card_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.is_lock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.is_leader_mailbox)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sort_rank)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.create_time)
                        </td>
                        <td align="right">
                            <a asp-action="edit" asp-route-id="@item.id">修改</a> |
                            <a asp-action="edit_password" asp-route-id="@item.id">改密码</a> |
                            <a asp-action="delete" asp-route-id="@item.id" onclick="return confirm('确认删除吗？');">删除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div style="text-align: center;padding: 16px 0 12px 0;">
            <div class="layui-inline">
                @Html.Pager(Model, new PagerOptions
                {
                PageIndexParameterName = "page",
                TagName = "ul",
                CssClass = "pagination",
                CurrentPagerItemTemplate = "<li class=\"page-item active\"><a  class=\"page-link\" href=\"javascript:void(0);\">{0}</a></li>",
                DisabledPagerItemTemplate = "<li class=\"page-item disabled\"><a class=\"page-link\">{0}</a></li>",
                PagerItemTemplate = "<li class=\"page-item\">{0}</li>",
                PagerItemCssClass = "page-link",
                Id = "bootstrappager"
                })
            </div>
        </div>
    </div>
</div>
